/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

/* NavBar: Logo and image */

#logo {
    margin: 10px 34px;
}

#logo img {
    margin: 3px 6px;
    border-radius: 50%;
    height: 59px;
}


/* List Styling */
/* #navbar {
    display: flex;
    position: relative;
} */

#navbar::before {
    /* pseudo selector */
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    /* color: white; */
    /* text-decoration: none; */
    list-style: none;
    /* to remove dot */
    font-size: 1.3rem;
}

#navbar ul li a {
    display: block;
    /* display block because of padding */
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    /* border: 2px solid white; */
    background-color: white;
    color: black;
    font-weight: 700;
}


/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before {
    /* pseudo selector */
    content: "";
    position: absolute;
    background: url('bg1.jpg') no-repeat center center/cover;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    height: 72%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.79;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* Service Section */
#services {
    margin: 34px;
    display: flex;

}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 4px;
    border-radius: 28px;
    background: #f2f2f2;
    box-shadow: inset;

}

#services .box img {
    height: 160px;
    margin: auto;
    /* margin auto doesn't work when not display block */
    display: block;

}

#services .box p {
    font-family: 'Courier New', Courier, monospace;

}

/* client section */
#client-section {
    /* /* position: relative; */
}

#client-section::before {
    /* height: 344px; */
    content: "";
    position: absolute;
    background: url('bg.jpg');
    width: 100%;
    height: 30%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 124px;
    /* margin: 0px 40px; */
}

/* Contact Section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}


footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2.8rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
}

.center {
    text-align: center;
}