/* Navigation */
#navbar {
    flex-direction: column;

}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* home section */
#home {
    height: 370px;
    /* flex-direction: column; */
    padding: 3px 28px;

}

#home::before {
    height: 480px;
}

#home p {
    font-size: 13px;
}

/* Service section */
#services {
    flex-direction: column;

}

#services .box {}

/* Clients section */

#clients {
    flex-wrap: wrap;

}

#clients img {
    width: 66px;
    padding: 6px;
    height: auto;
}

/* Contact Us section */
#contact-box form
/* footer */

/* Utility Classes */
.h-primary {
    font-size: 26px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;

}